
*{
    margin: 0;
    padding: 0;

}
body{
   background-image: url(./img/pexels-madison-inouye-1831234.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.all{
    border: 9px solid red;
    border-radius: 10%;
   background-image: url(https://img.freepik.com/free-vector/detailed-gamer-room-illustration_23-2148923561.jpg?size=626&ext=jpg&ga=GA1.1.1249304312.1688058483&semt=ais);
 background-repeat: no-repeat;
margin-left: 150px;
margin-right: 150px;
   background-size: cover;
    padding-top: 22px;
  

}
h1{
    margin-left: 36%;
    font-style: initial;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    color:#000000;
    text-shadow: 2px 1px white;
    
}
.msgcont{
    margin-left: 57%;
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  margin-bottom: 27px;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: aquamarine;
    color: rgb(255, 0, 0);
    font-size: xx-large;
    text-shadow: 2px 2px 2px  white ;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 22%;
    box-shadow: 3px 2px 2px 2px black;
    
    
}
.container{
 margin-left: 10rem;
 
    flex-wrap: wrap;
   
   
}
#rest ,.new {
    background-color: rgb(129, 255, 226);
    color: rgb(0, 0, 0);
    margin-left: 50px;
    margin-top: 12px;

}



